<!-- templates/supervisor.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.min.js"></script>
    <title>Supervisor Dashboard</title>
</head>
<body>
    <h1>Supervisor Dashboard</h1>
    <h2>Assigned Loan Accounts</h2>
    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">Loan Account Number</th>
                <th scope="col">Subordinate Name</th>
                <th scope="col">Status</th>
                <th scope="col">Latitude</th>
                <th scope="col">longitude</th>
            </tr>
        </thead>
        <tbody>
            {% for loan in assigned %}
            <tr>
                <td>{{ loan.account_number }}</td>
                <td>{{ loan.username }}</td>
                <td>{{ loan.status }}</td>
                <td>{{ loan.latitude }}</td>
                <td>{{ loan.longitude }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <h2>Unassigned Loan Accounts</h2>
    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">Loan Account Number</th>
                <th scope="col">Subordinate Name</th>
                <th scope="col">Status</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for loan in unassigned %}
            <form method="POST" action="{{ url_for('assign_user', account_id=loan.id) }}">
                <tr>
                    <td>{{ loan.account_number }}</td>
                    <td>
                        <select name="user_id">
                            {% for user in users_to_assign %}
                                <option value="{{user.id}}">{{user.username}}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>{{ loan.status }}</td>
                    <td>
                        <button type="submit">Assign</button>
                    </td>
                </tr>
            </form>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ url_for('logout') }}">Logout</a>
</body>
</html>